body{
    background-image: url('../images/detail_background.jpg');

    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when
       the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;
    height: auto;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.navbar-brand{
    font-weight: bold;
    padding:5px;
    font-family: "Agency FB";
    font-size:25px;
}
.dropdown-toggle{
    color:#fff;
    border-radius: 5px;
}
.dropdown-toggle:hover{
    background-color: rgba(75, 72, 77, 0.3) !important;
    color:#fff !important;
}
.dropdown-menu li a{
    color:#fff !important;

}
.dropdown-menu li a:hover{
    background-color:rgba(75, 72, 77, 0.3) !important; ;

}
.dropdown-menu {
    background-color:rgba(75, 72, 77, 0.3) !important; ;
}
.detail_box{
    min-height: 500px;
    background-color:rgba(29, 29, 29, 0.36);
    box-shadow: 5px 0 10px rgba(255, 255, 255, 0.35);
    border-radius: 10px;
}
h4 {
    font-weight: bold;
    color:silver;
    text-shadow: 0 0 2px white;
    font-size:24px;
}
h5  {
    border-bottom:1px solid silver;
    color:#FFF;
    text-align: center;
    text-shadow: 0 0 2px white;
    padding: 10px;
}
.players_div{
    margin-top:15px
}
.matches_div{
    margin-top:20px;
}

.player {
    list-style: none;
    display: inline-block;

    padding: 5px;

}
.player:hover {
    background-color: rgba(192, 192, 192, 0.23);

}
a{
    color:#fff;
}
a:hover {
    text-decoration: none;
    color:silver
}
th{
    color:#fff
}